@model IEnumerable<PickEm.Models.TeamModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgOppScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgOffReb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgDefReb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgStl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgBlk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgOppScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgOffReb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgDefReb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgStl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgBlk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
