@model PickEm.Models.BracketModel

@{
    ViewData["Title"] = "Details";
}

@{
    var teams = new List<string>();
    foreach (var game in Model.Games)
    {
    	
        teams.Append(game.HomeTeam.Name);
        teams.Append(game.AwayTeam.Name);
    }
}

<h1>Details</h1>

<div>
    <h4>BracketModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/js/brackets.min.js"></script>

    <div class="brackets">

    </div>

	<script type="text/javascript">
            function Game(homeTeam, awayTeam)
	    {
		this.player1 = homeTeam;
		this.player2 = awayTeam;
	    }

	    function Player(name, winner, id)
	    {
		this.name = name;
		this.winner = winner;
		this.id = id;
	    }


	    var rounds = [[], [], [], [], [], []];
	    @for (int i = 0; i < Model.Games.Count(); i++)
	    {
		if (i < 32)
		{
			<text>rounds[0].push(new Game(new Player('@Model.Games[i].HomeTeam.Name', @Model.Games[i].Prediction.Value.ToString().ToLower(), @Model.Games[i].HomeTeamId), new Player('@Model.Games[i].AwayTeam.Name', !(@Model.Games[i].Prediction.ToString().ToLower()), @Model.Games[i].AwayTeamId)));
			</text>
		}
		else if (i > 31 && i < 48)
		{
			<text>rounds[1].push(new Game(new Player('@Model.Games[i].HomeTeam.Name', @Model.Games[i].Prediction.Value.ToString().ToLower(), @Model.Games[i].HomeTeamId), new Player('@Model.Games[i].AwayTeam.Name', !(@Model.Games[i].Prediction.ToString().ToLower()), @Model.Games[i].AwayTeamId)));
			</text>
		}
		else if (i > 47 && i < 56)
		{
			<text>rounds[2].push(new Game(new Player('@Model.Games[i].HomeTeam.Name', @Model.Games[i].Prediction.Value.ToString().ToLower(), @Model.Games[i].HomeTeamId), new Player('@Model.Games[i].AwayTeam.Name', !(@Model.Games[i].Prediction.ToString().ToLower()), @Model.Games[i].AwayTeamId)));
			</text>
		}
		else if (i > 55 && i < 60)
		{
			<text>rounds[3].push(new Game(new Player('@Model.Games[i].HomeTeam.Name', @Model.Games[i].Prediction.Value.ToString().ToLower(), @Model.Games[i].HomeTeamId), new Player('@Model.Games[i].AwayTeam.Name', !(@Model.Games[i].Prediction.ToString().ToLower()), @Model.Games[i].AwayTeamId)));
			</text>
		}
		else if (i > 59 && i < 62)
		{
			<text>rounds[4].push(new Game(new Player('@Model.Games[i].HomeTeam.Name', @Model.Games[i].Prediction.Value.ToString().ToLower(), @Model.Games[i].HomeTeamId), new Player('@Model.Games[i].AwayTeam.Name', !(@Model.Games[i].Prediction.ToString().ToLower()), @Model.Games[i].AwayTeamId)));
			</text>
		}
		else
		{
			<text>rounds[5].push(new Game(new Player('@Model.Games[i].HomeTeam.Name', @Model.Games[i].Prediction.Value.ToString().ToLower(), @Model.Games[i].HomeTeamId), new Player('@Model.Games[i].AwayTeam.Name', !(@Model.Games[i].Prediction.ToString().ToLower()), @Model.Games[i].AwayTeamId)));
			</text>
		}
	    }

	    var rounds_back;
	    rounds_back = [
	      [
		{
		  player1: {name:"Player1", winner:true, ID:1},
		  player2: {name:"Player2", ID:2}
		},
		{ 
		  player1: {name:"Player3", ID:3},
		  player2: {name:"Player4", winner:true, ID:4}
		}
	      ],
	      [
		{
		  player1: {name:"Player1", winner:true, ID:1},
		  player2: {name:"Player4", ID:4}
		}
	      ],
	      [
		{
		  player1: {name:"Player1", winner:true, ID:1}
		}
	      ]
	    ]
	    var titles = ['Round 1', 'Round 2', 'Sweet 16', 'Elite 8', 'Final 4', 'Championship'];

	    $(".brackets").brackets({
	      titles: titles,
	      rounds: rounds
	    });
	</script>
	  

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
