@model PickEm.Models.GameModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeTeam.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AwayTeam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayTeam.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwayScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwayScore)
        </dd>
        <dt class = "col-sm-2">
            Prediction
        </dt>
        <dd class = "col-sm-10">
            @if(Model.Prediction == true)
            {
                @Html.DisplayFor(model => model.HomeTeam.Name)
            }
            else
            {
                @Html.DisplayFor(model => model.AwayTeam.Name)
            }
            
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
